$XsmallSize: 10px;
$SmallSize: 12px;
$XXmiddleSize: 14px;
$XmiddleSize: 16px;
$MiddleSize: 18px;
$XXmediumSize: 20px;
$XmediumSize: 22px;
$MediumSize: 24px;
$XXlargeSize: 26px;
$XlargeSize: 28px;
$LargeSize: 30px;
$XXhighSize: 32px;
$XhighSize: 38px;
$HighSize: 50px;

